<div class="industry">
    <div class="heading">
        <h1>Towards...</h1>
        <h1>Leading The Industry</h1>
    </div>
    <div class="image1">
        <div class="number1">
            <h1>2895453</h1>
        <span>Lines of code</span> 
    </div>
        <div class="number2">
            <h1>56</h1>
            <p>Projects done</p>
        </div>
        <div class="number3">
            <h1>135350</h1>
            <p>Cups of coffee</p>
        </div>
        <div class="number4">
            <h1>30+</h1>
            <p>Industries</p>
        </div>
    </div>
</div>
